* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}


.site-header{
    background-color: lightgray;
    font-weight: 600;
}
.navbar{
    background-color: white;
}
.footer{
    background-color: #010081;
}

.sosmed a{
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    color: #eee;
    text-decoration: none;
}
  
.contain {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}
  
.item {
    align-items: center;
    color: white;
    display: flex;
    height: 490px;
    justify-content: center;
}
  
.section-divider {
    border-top: 2px solid black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
  
.section-divider > span {
    color: black;
    font-weight: bold;
    background: white;
    display: inline-block;
    position: relative;
    padding: 0 17px;
    top: -25px;
    font-size: 30px;
}
  
.main-news img{
    height: auto;
    width: 600px;
}

.text-news h1{
    font-size: 30px;
    font-weight: bold;
    text-align: start;
    margin: 2px 5px;
}

.text-news h5{
    font-size: 15px;
    color: gray;
    text-align: start;
    margin: 2px 5px 10px;
}

.text-news p{
    width: 620px;
    font-size: 15px;
    text-align: justify;
    padding: 0 5px;
}

.text-news button{
    color: white;
    background-color: #010081;
    border: none;
    width: 120px;
    height: 30px;
}

.main-event img{
    height: auto;
    width: 300px;
}

.text-event h1{
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    margin: 8px 5px;
}

.text-event h5{
    font-size: 10px;
    color: gray;
    text-align: start;
    margin: -10px 5px 10px;
}

.text-event p{
    width: 300px;
    font-size: 15px;
    text-align: justify;
    padding: 0 5px;
}

.text-event button{
    color: white;
    background-color: #010081;
    border: none;
    width: 120px;
    height: 30px;
}

.main-mitra img{
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 50%;
}